create-conflict-app/node_modules
create-conflict-app/.conflict
conflict/node_modules
ignore
.vscode/settings.json
*/token
create-conflict-app/token
conflict/token
token
*/.vercel/output
.vercel/output
*/.vercel/output/*
.vercel/output/*
*/node_modules
node_modules/*
*/node_modules/*
node_modules